# 零基础入门推荐系统
[链接](https://tianchi.aliyun.com/competition/entrance/531842)。

# 任务

# 初始化 & 读取数据集

In [1]:
import os
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, from_json, greatest, lit, abs
from configparser import ConfigParser
from pyspark.sql.functions import sum as spark_sum

# 设置 JDK
os.environ["JAVA_HOME"] = "/lib/jvm/java-17-openjdk-amd64"

print(pyspark.__version__)

# 添加 jar 包
jars_dir = "/home/jovyan/jars"
jars_list = [
    os.path.join(jars_dir, f) for f in os.listdir(jars_dir) if f.endswith(".jar")
]
jars_str = ",".join(jars_list)
print(jars_str)

# 读取 MinIO 配置
config_path = os.path.expanduser("~/.minioconfig")
parser = ConfigParser()
parser.read(config_path)
endpoint = parser.get("Credentials", "endpoint")
access_key_id = parser.get("Credentials", "accessKeyID")
access_key_secret = parser.get("Credentials", "accessKeySecret")

# 创建本地 SparkSession（local 模式）
spark = (
    SparkSession.builder.appName("LocalPySparkExample")
    .config("spark.jars", jars_str)
    .master("local[*]")
    .config("spark.driver.memory", "10g")
    .config("spark.driver.maxResultSize", "4g")
    .config("spark.sql.shuffle.partitions", "100")
    .config("spark.default.parallelism", "100")
    .config("spark.executor.extraJavaOptions", "-XX:+UseG1GC -XX:InitiatingHeapOccupancyPercent=35")
    # S3A 配置
    .config("spark.hadoop.fs.s3a.endpoint", endpoint)                   # MinIO 服务地址
    .config("spark.hadoop.fs.s3a.access.key", access_key_id)            # MinIO 用户名
    .config("spark.hadoop.fs.s3a.secret.key", access_key_secret)        # MinIO 密码
    .config("spark.hadoop.fs.s3a.path.style.access", "true")            # 必须设为 true，MinIO 用路径模式
    .config("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem")
    .getOrCreate()
)

print('Spark Version: ', spark.version)

4.0.0
/home/jovyan/jars/hadoop-aliyun-3.4.1.jar,/home/jovyan/jars/hadoop-aws-3.4.1.jar,/home/jovyan/jars/bundle-2.32.24.jar,/home/jovyan/jars/aliyun-sdk-oss-3.18.2.jar,/home/jovyan/jars/paimon-oss-1.2.0.jar,/home/jovyan/jars/commons-configuration2-2.12.0.jar,/home/jovyan/jars/jdom2-2.0.6.1.jar
Spark Version:  4.0.0

In [16]:
!/home/linuxbrew/.linuxbrew/bin/mc ls dxp/dataset/tianchi/tianchi-news-rec/
# 同步数据到本地
!/home/linuxbrew/.linuxbrew/bin/mc cp -r dxp/dataset/tianchi/tianchi-news-rec ~/dataset/

]11;?\[2025-08-18 10:06:11 UTC] 9.9MiB STANDARD articles.csv
[2025-08-18 10:06:23 UTC] 973MiB STANDARD articles_emb.csv
[2025-08-18 10:06:12 UTC]  20MiB STANDARD testA_click_log.csv
[2025-08-18 10:06:12 UTC]  44MiB STANDARD train_click_log.csv
...ck_log.csv: 1.02 GiB / 1.02 GiB ┃▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓┃ 269.72 MiB/s 3s

In [1]:
# article_csv_path = 's3a://dataset/tianchi/tianchi-news-rec/articles.csv'
# article_df = spark.read.csv(article_csv_path, header=True)
# article_df.printSchema()

# article_emb_csv_path = 's3a://dataset/tianchi/tianchi-news-rec/articles_emb.csv'
# article_emb_df = spark.read.csv(article_emb_csv_path, header=True)
# article_emb_df.printSchema()

# train_click_csv_path = 's3a://dataset/tianchi/tianchi-news-rec/train_click_log.csv'
# train_click_df = spark.read.csv(train_click_csv_path, header=True)
# train_click_df.printSchema()

# testA_click_csv_path = 's3a://dataset/tianchi/tianchi-news-rec/testA_click_log.csv'
# testA_click_df = spark.read.csv(testA_click_csv_path, header=True)
# testA_click_df.printSchema()

# print(article_df.count(), article_emb_df.count())
# article_emb_df.show()
# article_df.show()

# 数据走读

In [1]:
import os
import sys
def get_project_path():
    import os
    parts = os.getcwd().rsplit("machine-learning", 1)
    return os.path.join(parts[0], "machine-learning")
sys.path.append(get_project_path())
sys.path.append(os.getcwd())

from internal.pyspark.pyspark_tools import SparkSessionBuilder
spark = SparkSessionBuilder().with_minio().build()
print('Spark Version: ', spark.version)

/home/jovyan/jars/hadoop-aliyun-3.4.1.jar,/home/jovyan/jars/hadoop-aws-3.4.1.jar,/home/jovyan/jars/bundle-2.32.24.jar,/home/jovyan/jars/aliyun-sdk-oss-3.18.2.jar,/home/jovyan/jars/paimon-oss-1.2.0.jar,/home/jovyan/jars/commons-configuration2-2.12.0.jar,/home/jovyan/jars/jdom2-2.0.6.1.jar
Spark Version:  4.0.0

In [2]:
from data import DataManager
dm = DataManager('~/dataset/tianchi-news-rec')

In [3]:
dm.describe()

----- article -----
          article_id    category_id  created_at_ts    words_count
count  364047.000000  364047.000000   3.640470e+05  364047.000000
mean   182023.000000     283.108239   1.474070e+12     190.897727
std    105091.461061     136.723470   4.293038e+10      59.502766
min         0.000000       0.000000   1.159356e+12       0.000000
25%     91011.500000     199.000000   1.444925e+12     159.000000
50%    182023.000000     301.000000   1.489422e+12     186.000000
75%    273034.500000     399.000000   1.509891e+12     218.000000
max    364046.000000     460.000000   1.520943e+12    6690.000000

----- article emb -----
          article_id          emb_0          emb_1          emb_2  \
count  364047.000000  364047.000000  364047.000000  364047.000000
mean   182023.000000      -0.238645      -0.963334       0.118548
std    105091.461061       0.451497       0.022651       0.495050
min         0.000000      -0.991183      -0.996455      -0.968431
25%     91011.500000      -0.620072      -0.974056      -0.289953
50%    182023.000000      -0.302581      -0.967605       0.124339
75%    273034.500000       0.098015      -0.959061       0.545112
max    364046.000000       0.983694      -0.514728       0.998341

               emb_3          emb_4          emb_5          emb_6  \
count  364047.000000  364047.000000  364047.000000  364047.000000
mean       -0.279295      -0.068579       0.045945      -0.168319
std         0.505067       0.506723       0.483288       0.514183
min        -0.994966      -0.994489      -0.985974      -0.995090
25%        -0.718816      -0.503425      -0.354579      -0.610391
50%        -0.391535      -0.093734       0.062636      -0.259313
75%         0.108320       0.345024       0.446979       0.244957
max         0.978092       0.996798       0.996343       0.990139

               emb_7          emb_8  ...        emb_240        emb_241  \
count  364047.000000  364047.000000  ...  364047.000000  364047.000000
mean       -0.216564      -0.006810  ...      -0.133287      -0.081912
std         0.456211       0.519036  ...       0.490597       0.449957
min        -0.995926      -0.991316  ...      -0.990412      -0.989408
25%        -0.604471      -0.446108  ...      -0.547684      -0.445079
50%        -0.257692      -0.025777  ...      -0.175781      -0.094113
75%         0.138783       0.432606  ...       0.250641       0.270006
max         0.963327       0.992945  ...       0.996401       0.981789

             emb_242        emb_243        emb_244        emb_245  \
count  364047.000000  364047.000000  364047.000000  364047.000000
mean       -0.060347       0.023003       0.076947       0.084603
std         0.489498       0.507181       0.426143       0.467998
min        -0.990432      -0.993626      -0.989042      -0.996902
25%        -0.479989      -0.404508      -0.248653      -0.267072
50%        -0.078034       0.000726       0.105649       0.133525
75%         0.341105       0.459386       0.417347       0.461466
max         0.991332       0.995299       0.978823       0.989324

             emb_246        emb_247        emb_248        emb_249
count  364047.000000  364047.000000  364047.000000  364047.000000
mean        0.062819       0.099768       0.155917      -0.041094
std         0.462678       0.499648       0.454356       0.458819
min        -0.992921      -0.984733      -0.976071      -0.988213
25%        -0.306548      -0.313598      -0.201402      -0.420694
50%         0.083315       0.128757       0.188355      -0.015232
75%         0.441831       0.531453       0.538111       0.334226
max         0.991445       0.997583       0.990507       0.968461

[8 rows x 251 columns]

----- train click -----
            user_id  click_article_id  click_timestamp  click_environment  \
count  1.112623e+06      1.112623e+06     1.112623e+06       1.112623e+06
mean   1.221198e+05      1.951541e+05     1.507588e+12       3.947786e+00
std    5.540349e+04      9.292286e+04     3.363466e+08       3.276715e-01
min    0.000000e+00      3.000000e+00     1.507030e+12       1.000000e+00
25%    7.934700e+04      1.239090e+05     1.507297e+12       4.000000e+00
50%    1.309670e+05      2.038900e+05     1.507596e+12       4.000000e+00
75%    1.704010e+05      2.777120e+05     1.507841e+12       4.000000e+00
max    1.999990e+05      3.640460e+05     1.510603e+12       4.000000e+00

       click_deviceGroup      click_os  click_country  click_region  \
count       1.112623e+06  1.112623e+06   1.112623e+06  1.112623e+06
mean        1.815981e+00  1.301976e+01   1.310776e+00  1.813587e+01
std         1.035170e+00  6.967844e+00   1.618264e+00  7.105832e+00
min         1.000000e+00  2.000000e+00   1.000000e+00  1.000000e+00
25%         1.000000e+00  2.000000e+00   1.000000e+00  1.300000e+01
50%         1.000000e+00  1.700000e+01   1.000000e+00  2.100000e+01
75%         3.000000e+00  1.700000e+01   1.000000e+00  2.500000e+01
max         5.000000e+00  2.000000e+01   1.100000e+01  2.800000e+01

       click_referrer_type
count         1.112623e+06
mean          1.910063e+00
std           1.220012e+00
min           1.000000e+00
25%           1.000000e+00
50%           2.000000e+00
75%           2.000000e+00
max           7.000000e+00

----- test click -----
             user_id  click_article_id  click_timestamp  click_environment  \
count  518010.000000     518010.000000     5.180100e+05      518010.000000
mean   227342.428169     193803.792550     1.507387e+12           3.947300
std     14613.907188      88279.388177     3.706127e+08           0.323916
min    200000.000000        137.000000     1.506959e+12           1.000000
25%    214926.000000     128551.000000     1.507026e+12           4.000000
50%    229109.000000     199197.000000     1.507308e+12           4.000000
75%    240182.000000     272143.000000     1.507666e+12           4.000000
max    249999.000000     364043.000000     1.508832e+12           4.000000

       click_deviceGroup       click_os  click_country   click_region  \
count      518010.000000  518010.000000  518010.000000  518010.000000
mean            1.738285      13.628467       1.348209      18.250250
std             1.020858       6.625564       1.703524       7.060798
min             1.000000       2.000000       1.000000       1.000000
25%             1.000000      12.000000       1.000000      13.000000
50%             1.000000      17.000000       1.000000      21.000000
75%             3.000000      17.000000       1.000000      25.000000
max             5.000000      20.000000      11.000000      28.000000

       click_referrer_type
count        518010.000000
mean              1.819614
std               1.082657
min               1.000000
25%               1.000000
50%               2.000000
75%               2.000000
max               7.000000

In [5]:
dm.df_train_click.iloc[:100]

,user_id,click_article_id,click_timestamp,click_environment,click_deviceGroup,click_os,click_country,click_region,click_referrer_type
0,199999,160417,1507029570190,4,1,17,1,13,1
1,199999,5408,1507029571478,4,1,17,1,13,1
2,199999,50823,1507029601478,4,1,17,1,13,1
3,199998,157770,1507029532200,4,1,17,1,25,5
4,199998,96613,1507029671831,4,1,17,1,25,5
...,...,...,...,...,...,...,...,...,...
95,199973,158229,1507029591819,4,1,17,1,16,2
96,199973,160417,1507029621819,4,1,17,1,16,2
97,199972,313431,1507052104467,4,1,17,1,5,2
98,199972,199197,1507052216371,4,1,17,1,5,2
99,199972,271551,1507052246371,4,1,17,1,5,2

In [6]:
dm.df_train_click['user_id'].unique()

array([199999, 199998, 199997, ...,      2,      1,      0],
      shape=(200000,))

In [7]:
dm.df_test_click['user_id'].unique()

array([249999, 249998, 249997, ..., 200002, 200001, 200000],
      shape=(50000,))