In [1]:
import pandas as pd

In [3]:
df= pd.DataFrame({'color': ['red', 'blue', 'green'],
                     'size': ['small', 'medium', 'large']})

In [5]:
df_encoded = pd.get_dummies(df)

In [6]:
df_encoded

   color_blue  color_green  color_red  size_large  size_medium  size_small
0       False        False       True       False        False        True
1        True        False      False       False         True       False
2       False         True      False        True        False       False

In [7]:
df= pd.DataFrame({'color': ['red', 'blue', 'yellow', 'green'],
                     'size': ['small', 'medium', 'large', 'super large']})
pd.get_dummies(df)

,color_blue,color_green,color_red,color_yellow,size_large,size_medium,size_small,size_super large
0,False,False,True,False,False,False,True,False
1,True,False,False,False,False,True,False,False
2,False,False,False,True,True,False,False,False
3,False,True,False,False,False,False,False,True

In [8]:
df= pd.DataFrame({'color': ['red', 'yellow', 'green'],
                     'size': ['small', 'medium', 'large']})
pd.get_dummies(df)

   color_green  color_red  color_yellow  size_large  size_medium  size_small
0        False       True         False       False        False        True
1        False      False          True       False         True       False
2         True      False         False        True        False       False